.logo{
    width: 70px;
    height: 70px;

}
.myclass{
    display: flex;
    justify-content: space-evenly;
}
.my{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.my1{
     text-align: center;
    text-decoration: underline;
    font-weight: bold;

}
